/* 
    GENERAL
*/

/* 
    VARIABLES
*/

:root {
    /* Color Palette */
   
    --light_color:#FFFFFF ;
    --dark_color: #0A0A0A ;
    --primary_color: #FFFEEF;
    --secondary_color: #455561;
    --hover_color: #FEFEE9;
}

