/* 
    MAIN
*/

h2 {color: var(--secondary_color);}

h5 {color: var(--secondary_color);}

.container {max-width: 25rem;margin: 0 auto;text-align: center;}

.card {background-color: var(--primary_color);border: none; border-radius: .625rem; box-shadow: 0 .25rem .5rem rgba(0, 0, 0, 0.1);}

.card-title {font-size: 1.5rem;color: var(--secondary_color);margin-bottom: .625rem;}

.card-text {font-size: 3rem;color: var(--secondary_color); margin-bottom: 1.25rem;}

.result-card .card-body {background-color: var(--primary_color);color: var(--secondary_color);;border: none; border-radius: .625rem; box-shadow: 0 .25rem .5rem rgba(0, 0, 0, 0.1);}

.result-card .card-title {font-size: 1.25rem;margin-bottom: .625rem;}

.result-card .card-text {font-size: 1.125rem;color: var(--secondary_color);}

.btn {font-size: 1.125rem;font-weight: bold;text-transform: uppercase;padding: .625rem 1.25rem;border-radius: .3125rem;transition:0.3s ease; box-shadow: 0 .25rem .5rem rgba(0, 0, 0, 0.1); color: var(--light_color);background-color: var(--secondary_color);}

.btn:hover {transform: scale(1.1); color: var(--secondary_color); background-color: var(--hover_color);}